In [21]:
import pandas as pd
import ast
import pycountry

In [22]:
df = pd.read_csv('data/titles.csv')
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [23]:
def code_to_name(code):
    try:
        return pycountry.countries.get(alpha_2=code.upper()).name
    except:
        return code

df['production_countries'] = df['production_countries'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

df['production_countries'] = df['production_countries'].apply(
    lambda countries: [code_to_name(c) for c in countries]
)

region_map = {
    "United States": "North America",
    "Canada": "North America",
    "Mexico": "North America",
    "Puerto Rico": "North America",
    "Brazil": "South America",
    "Argentina": "South America",
    "Chile": "South America",
    "Colombia": "South America",
    "Peru": "South America",
    "United Kingdom": "Europe",
    "France": "Europe",
    "Germany": "Europe",
    "Italy": "Europe",
    "Spain": "Europe",
    "Netherlands": "Europe",
    "Sweden": "Europe",
    "Norway": "Europe",
    "Poland": "Europe",
    "Czechia": "Europe",
    "Greece": "Europe",
    "Austria": "Europe",
    "Denmark": "Europe",
    "Switzerland": "Europe",
    "Belgium": "Europe",
    "Romania": "Europe",
    "Portugal": "Europe",
    "Luxembourg": "Europe",
    "Hungary": "Europe",
    "Iceland": "Europe",
    "Ireland": "Europe",
    "Malta": "Europe",
    "Bulgaria": "Europe",
    "Russia": "Europe",
    "Finland": "Europe",
    "Ukraine": "Europe",
    "Belarus": "Europe",
    "Croatia": "Europe",
    "Vatican City": "Europe",
    "Monaco": "Europe",
    "Cyprus": "Europe",
    "Lithuania": "Europe",
    "Albania": "Europe",
    "Serbia": "Europe",
    "China": "Asia",
    "Japan": "Asia",
    "South Korea": "Asia",
    "India": "Asia",
    "Singapore": "Asia",
    "Thailand": "Asia",
    "Taiwan": "Asia",
    "Philippines": "Asia",
    "Hong Kong": "Asia",
    "Indonesia": "Asia",
    "Malaysia": "Asia",
    "Cambodia": "Asia",
    "Pakistan": "Asia",
    "United Arab Emirates": "Middle East",
    "Saudi Arabia": "Middle East",
    "Lebanon": "Middle East",
    "Iran": "Middle East",
    "Israel": "Middle East",
    "Turkey": "Middle East",
    "Jordan": "Middle East",
    "Qatar": "Middle East",
    "Kuwait": "Middle East",
    "Syria": "Middle East",
    "Palestine": "Middle East",
    "South Africa": "Africa",
    "Nigeria": "Africa",
    "Egypt": "Africa",
    "Kenya": "Africa",
    "Senegal": "Africa",
    "Morocco": "Africa",
    "Tunisia": "Africa",
    "Ghana": "Africa",
    "Zimbabwe": "Africa",
    "Australia": "Oceania",
    "New Zealand": "Oceania"
}

def get_region_from_names(country_names):
    for country in country_names:
        if country in region_map:
            return region_map[country]
    return "Unknown"

df['region'] = df['production_countries'].apply(get_region_from_names)


df[['production_countries', 'region']].head()

              production_countries         region
0                  [United States]  North America
1                  [United States]  North America
2                  [United States]  North America
3                 [United Kingdom]         Europe
4  [United Kingdom, United States]         Europe

In [24]:
df = df.drop(columns=['imdb_id'])
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,region
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],[United States],1.0,NaN,NaN,0.600,NaN,North America
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",[United States],NaN,8.2,808582.0,40.965,8.179,North America
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",[United States],NaN,7.7,107673.0,10.010,7.300,North America
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",[United Kingdom],NaN,8.2,534486.0,15.461,7.811,Europe
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","[United Kingdom, United States]",NaN,7.7,72662.0,20.398,7.600,Europe